/* LCWR Variables */

// Colors
$teal: #109096;
$green: #028A46;
$blue: #17398F;
$blue_dark: #072658;
$purple: #420A8C;

// Fonts
// <link rel="preconnect" href="https://fonts.gstatic.com">
// <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet"> 
$sans: 'Lato', sans-serif;
$serif: 'Lato', serif;
// <link href="https://fonts.googleapis.com/css2?family=Allura&display=swap" rel="stylesheet"> 
$cursive: 'Allura', cursive;

// Breakpoints
$tablet-min: 34em;
$desktop-min: 48em;
$wide-min: 62em;
$container-max: 75em;
